/* Weather Component Container */
.divWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    width: 400px;
    margin: 20px auto;
}

/* Heading Styling */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Temperature and Weather Description Styling */
.temp, .weather {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

/* Icon Container */
.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Weather Icon Styling */
.weatherIcon {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #e1e9f0 50%, #f0f8ff 70%);
}

/* Icon Placement */
.iconPlacement {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Loading State Styling */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffe0;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    color: #ffcc00;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

/* Floating Animation */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Floating Container */
.floatingContainer {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    animation: float 3s ease-in-out infinite;
    position: relative;
    transform: translateX(-50%);
    z-index: 1000;
    width: fit-content;
}

/* No Data Styling */
.noData {
    background-color: #ffcccc;
    border: 2px solid #cc0000;
    color: #cc0000;
}

/* Error Styling */
.error {
    background-color: #ffe6e6;
    border: 2px solid #cc0000;
    color: #cc0000;
}

/* Hidden Elements */
.hidden {
    display: none;
}
